
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
       background-color: rgb(45, 65, 88);
  }
  

 
.button{
  width:66px;
  padding:20px;
  margin:0 3px;
  border:2px solid rgb(202, 192, 192);
  border-radius:50%;
  color: bisque;
  background-color: rgb(46, 46, 61);
   box-shadow:-8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor:pointer;
  font-size: 20px;
  
}
h1{
  color:#ec0418;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: strong;
}



.row {
  margin: 8px 0;
}

.row input {
  font-size:20px;
  height:30px;
  margin: 0;
  padding: 6px 28px;
  border: 2px solid black;
  border-radius: 5px;
  
}

.container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-center{
    text-align: center;
}

.operator{
    color: #ff3c00;
}

.equalBtn{
    background-color: #ff3c00;
}